.datepicker-input {
  @apply bg-gray-800 text-white border border-gray-600 px-3 py-2 rounded-md w-[150px] outline-none;
}

.datepicker-input:focus {
  @apply border-blue-500;
}

.datepicker-calendar {
  background-color: #1f2937 !important; /* dark gray */
  color: white !important;
  border: 1px solid #374151 !important;
}

.react-datepicker__day--selected {
  background-color: #3b82f6 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #2563eb !important;
}
